langgraph==0.5.3
langchain==0.3.26
python-dotenv==1.0.1
langgraph-sdk==0.1.73
fastapi==0.116.0
google-genai==1.24.0
rich==13.7.1
ipython==9.4.0
langgraph-checkpoint-postgres==2.0.23
psycopg-binary==3.2.9
psycopg2-binary==2.9.10
pydantic-settings==2.10.1
uvicorn==0.35.0
alembic==1.16.2
aiokafka==0.12.0
pytest==8.4.1
boto3==1.39.4
firebase-admin==6.9.0
google-api-python-client==2.175.0
isodate==0.7.2
markdown-it-py==3.0.0
weasyprint==65.1
pygments==2.19.2